@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: #fff;
  --color-primary-dark: #000;
}

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
